.colorsecondary{
  color: #112D88;
}

.textprincpal{
  color: #112D88;
  padding: 30px;
}

.corpo{
  margin-top: 2%;
  margin-bottom: 2%;
}

h1{
  color: white;
  font-weight: bold;
  padding-bottom: 5%;
}
